<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Users</title>
  </head>
  <body>
    <h1>Welcome to the Community</h1>
    <% if (users.length > 0) { %>
        <% for (let user of users) { %>
            <li><%= user.username %></li>
            <a href="/users/<%= user._id %>/show">Show</a>.
        <% } %>
    <% } else { %>
        <p>There are no users to show.</p>
    <% } %>
        
  </body>
</html>
