<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My User</title>
</head>

<body>
    
    <%- include("../partials/_navbar.ejs") %>

    <h1>
        <%= user.username %>
    </h1>
    <% if (user.pantry.length > 0) { %>
        <% for (let food of user.pantry) { %>
            <li>
                <%= food.name %>
            </li>

        <% } %>
    <% } else { %>
      <p>There are no items in this pantry.</p>
    <% } %>

</body>

</html>